body {
  background-image: url('../img/login_background_3.jpg');

  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;

}

.login-box,
.register-box {
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);    
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);    
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.login-box-msg-danger,
.register-box-msg-danger {
  color: #f00;
}

.login-logo,
.register-logo {

  background: rgba(255,255,255,0.55) center no-repeat;
  padding: 15px;
  margin: 0;
  border-bottom: 2px solid #ddd;

}